* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.linkTitulo {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 350;
}

.titulo {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}

.linkTitulo:hover,
.titulo:hover {
  text-decoration: none;
  color: red;
}
